.body {
    background: lightBlue;
    height: 100%;
  }
  
  .container {
      width: 150px;
      height: 150px;
      margin: 60px auto 30px auto;
  }
  
  .kirby {
    width: 150px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 100;
  }
  
  @keyframes example{
    from {transform: translate(0, 0px);}
    0%   {left:0px; top:0px;}
    15%  { left:700px; top:-400px;}
    25%  { left:500px; top:-450px;}
    50%  { left:300px; top:500px;}
    75%  { left:0px; top:540px;}
    100% { left:0px; top:0px;} 
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 2rem;
  }
  
  .body {
    background-color: white;
  }
  
  .h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-top: 3rem;
    font-size: 100px;
  }
  
  .img {
    padding: 20px;
  }
  .quotes {
    background: black;
    border-color: grey; 
    border-style: solid;
    border-radius: 5px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    font-family: monospace;
    color: white;
    font-size: 25px;
    margin-top: 25px;
    padding: 20px;
    height: auto;
  }
  .quote {
    font-size: 30px;
  }
  .author {
    font-size :20px;
    font-style: italic;
  }
  .a{
    color: grey;
    
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
 
  @keyframes rainbow {
    0%, 100% {
        fill: red;
    }
    33% {
        fill: blue;
    }
    66% {
        fill: yellow;
    }
}
.svg {
    animation: rainbow 60s linear infinite;
    position: relative;
    z-index: 0;
    display: fixed;

}